@use '../variables/colors';

.header {
  width: 70%;
  margin: 2em auto 2.5em;

  &__container {
    justify-content: space-between;
    align-items: center;
  }

  &__burger {
    display: none;
  }
}