@use './colors';
@use './fonts';

* {
    margin: 0;
    padding: 0;
  }

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: colors.$primary-dark;
  color: colors.$primary-light;
  font-family: fonts.$font-family;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1450px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.logo {
  width: 126px;
  height: 35px;
}

.search {
  width: 17px;
  height: 17px;
}