$font-family: Mulish, Arial, sans-serif;
$font-size-labels: 8px;
$font-size-meta: 10px;
$font-size-paragraf: 10px;
$font-size-header: 30px;
$font-size-grid: 19px;
$font-size-header-big: 45px;
$font-regular: 800;
$font-bold: 1000;
$line-height-small: 1;
$line-height-big: 1.3;
