@use './colors';

@media screen and (max-width: 1025px) {
    .header {
      &__burger {
        display: flex;
        align-items: center;
        width: 30px;
        padding: 7px 0;
        background: none;
        color: inherit;
        outline: none;
        border: none;
        border-top: 3px solid colors.$primary-light;
        border-bottom: 3px solid colors.$primary-light;
        font: inherit;
        cursor: pointer;
      }
    }
  
    .nav {
      position: absolute;
      top: 2em;
      right: 3.4em;
      flex-direction: column;
      box-sizing: border-box;
      background-color: colors.$primary-dark;
      padding: 1em;
      width: 10em;
      opacity: 0;
      transform: translateX(-100%);
      transition: transform .3s ease-in-out, opacity .3s ease-in-out;
      z-index: 2;
      border-radius: 16px;
  
      &__list {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-end;
        margin-bottom: 1em;
      }
    }
  
    .nav.active {
      transform: translateX(0);
      opacity: 1;
    }
  }