@use './colors';

@mixin button-animation() {
  transition-timing-function: ease-in-out;
  transition-duration: .4s;
  transition-property: transform,background-color,color;  

  &:hover {
    background-color: colors.$button-hover;
    color: colors.$primary-dark;
    transform: scale(1.1);
  }
}